@{
    ViewBag.Title = "Email adresa nije potvrđena";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        Email adresa nije potvrđena. Molimo Vas potvrdite email adresu linkom koji Vam je poslat na email adresu kako biste se ulogovali.
    </p>
</div>
