@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Zaključan nalog";
}

<hgroup>
    <h1 class="text-danger">Nalog zaključan!</h1>
    <h2 class="text-danger">Ovaj nalog je zaključan zbog velikog broja neuspelih pokušaja logovanja.</h2>
    <h2 class="text-danger">Pokušajte ponovo kasnije.</h2>
</hgroup>
