@{
    ViewBag.Title = "Email potvrđen";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        Hvala što ste potvrdili svoju email adresu. Molimo @Html.ActionLink("kliknite ovde kako biste se ulogovali.", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
