
@{
    ViewBag.Title = "NeuspesnoRezervisano";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Ovaj aranžman ste već rezervisali.</h2>

@Html.ActionLink("Pogledajte ostale aranžmane.", "Index", "Home")

