
@{
    ViewBag.Title = "UspesnoRezervisano";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Uspešno rezervisan aranžman!</h2>

@Html.ActionLink("Vratite se na početnu stranu.", "Index", "Home")

