@{
    ViewBag.Title = "O nama";
}
<title>@ViewBag.Title</title>

<h2><b>@ViewBag.Title.</b></h2> <br /> <br /><br />


<p>Mi smo mlada, ambiciozna, neprofitablina organizacija.</p>

<p>Počeli smo sa radom u 2019. godini sa jednim radnikom i to stanje se i dalje nije promenilo.</p>

<p>Radimo za ocenu, eventualno bombone.</p>
