@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron">
        <h1>Turistička agencija</h1> <br /> <br />
        <p class="lead">Naša agencija nudi najatraktivnije turističke aranžmane po najkonkurentnijim cenama!</p> <br />
        <p class="lead">Napravi besplatan nalog i pogledaj šta nudimo</p>
        <p><a href="/Account/Register" class="btn btn-primary btn-lg">Napravi besplatan nalog &raquo;</a></p> <br />
        <p class="lead">Već imaš nalog? Uloguj se</p>
        <p><a href="/Account/Login" class="btn btn-primary btn-lg">Uloguj se &raquo;</a></p>

    </div>